receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - http://*
  prometheus/collector:
    config:
      scrape_configs:
        - job_name: "opentelemetry-collector"
          scrape_interval: 1s
          static_configs:
            - targets: ["127.0.0.1:8888"]

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
    path: "/ready"

processors:
  batch:

exporters:
  otlp_http/metrics:
    endpoint: __PROMETHEUS_OTLP_URL__
    tls:
      insecure: true
  otlp_http/traces:
    endpoint: __TEMPO_OTLP_HTTP_URL__
    tls:
      insecure: true
  otlp_http/logs:
    endpoint: __LOKI_OTLP_HTTP_URL__
    tls:
      insecure: true
  otlp/profiles:
    endpoint: __PYROSCOPE_URL__
    tls:
      insecure: true

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_http/traces]
    metrics:
      receivers: [otlp, prometheus/collector]
      processors: [batch]
      exporters: [otlp_http/metrics]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_http/logs]
    profiles:
      receivers: [otlp]
      exporters: [otlp/profiles]

